<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title></title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Anton|Lobster|Monofett|Plaster|Shrikhand|Ultra" rel="stylesheet">
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'player/style.css' %}">
</head>
<body>


  <div class="page-header">
      <a href= {% url 'player_signin' %}><h1> Crosscourt </h1></a>
  </div>

    {% block content %}
    {% endblock %}

  </div>
</body>
</html>
