{% extends 'player/base.html' %}
<h1>Individual player details</h1>
<body>
  {% block content %}
  <h4>You're set!</h4>
  <h2>Player Summary</h2>

  {% block Player_Attributes%}

  {% for player in players %}
  <!-- TODO make this a table? -->
    <p><strong>Username:</strong> {{ player.username }}</p>
    <p><strong>Skill level:</strong> {{ player.skill_level }}</p>
    <p><strong>Looking for:</strong> {{ player.looking_for }}</p>
    <p><strong>Availability:</strong> {{ player.availability_days }} at {{ player.availability_times}}</p>
    <p><strong>Contact info:</strong> Phone: {{ player.phone_number }} | Email: {{ player.email}}</p>
    <p><strong>Location:</strong> {{ player.address }}</p>
    <p><strong>Additional info:</strong> {{ player.additional_info }}</p>

  <a href="{% url 'player_attributes_edit' pk=player.pk %}"><button class="btn btn-primary">Edit</button></a>
  <a href="{% url 'player_attributes_remove' pk=player.pk %}"><button class="btn btn-primary">Delete</button></a>


<!-- <form action="{% url 'player_map' %}"> -->
  <a href= "{% url 'player_map' %}"><button class="btn btn-primary" type="submit">Player Map >></button></a>
<!-- </form> -->

  {% endfor %}

  {% endblock %}

  {% endblock %}


  <!-- <a href={% url 'book' pk=book.pk %}>{{book.title}}</a> -->
</body>
