<!DOCTYPE html>
{% extends 'player/base.html' %}

<html>
{% block content %}
<head>
<style>
#map {
  height: 590px;
  width: 100%;
}
</style>
</head>
<body>
  <div>

  </div>
  <!-- loop through and convert to latitutde and longitude for all addresses. then when the list is made, loop through it   -->
  <div id="map"></div>

  <script>
  var player_list = []

  "{% for player in players %}"
    player_list.push( {id: "{{player.id}}", username: "{{player.username}}", skill_level: "{{player.skill_level}}", address: "{{player.address}}", availability_days: "{{player.availability_days}}", availability_times: "{{player.availability_times}}", looking_for: "{{player.looking_for}}", phone_number: "{{player.phone_number}}", email: "{{player.email}}", additional_info: "{{player.additional_info}}", latitude: "{{player.latitude}}", longitude: "{{player.longitude}}" })
  "{% endfor %}"
  console.log(player_list)


  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {lat: 47.608013, lng: -122.335167}
    });

    var infoWindow = new google.maps.InfoWindow;



    Array.prototype.forEach.call(player_list, function(markerElem) {
      var id = markerElem['id'];
      console.log('id is ' + id);
      var username = markerElem['username'];
      var skill_level = markerElem['skill_level'];
      var address = markerElem['address'];
      var availability_days = markerElem['availability_days'];
      var availability_times = markerElem['availability_times'];
      var looking_for = markerElem['looking_for'];
      var phone_number = markerElem['phone_number'];
      var email = markerElem['email'];
      var additional_info = markerElem['additional_info'];
      var point = new google.maps.LatLng(
        parseFloat(markerElem['latitude']),
        parseFloat(markerElem['longitude']));


      var infowincontent = document.createElement('div');
      var strong = document.createElement('strong');
      strong.textContent = name
      infowincontent.appendChild(strong);
      infowincontent.appendChild(document.createElement('br'));



      var text = document.createElement('text');
      text.textContent = "***"+address

      infowincontent.appendChild(text);
      console.log(text)

      console.log(['point']) //coverting into float

        //keep track of this marker
      var marker = new google.maps.Marker({
        position: point,
        map: map
      });

      console.log(marker)
      marker.addListener('click', function() {
        console.log("clicked the marker")
        infoWindow.setContent(infowincontent);
        infoWindow.open(map, marker);
      });
    });


  }




  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&callback=initMap">
  </script>
</body>
{% endblock %}
</html>
