<!DOCTYPE html>
{% extends 'player/base.html' %}
{% load staticfiles %}
{% load user_check %}

<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  {% block content %}



    <div class="text-center">
    <form method="post" action="{% url 'social:begin' 'twitter' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    </div>

    <div class="text-center">
      {% if user.is_authenticated and user|user_does_not_have_player_attributes %}
        <a href="{% url 'player_attributes_new' %}"><button type="submit" class="btn btn-primary">Create Profile </button></a>
      {% elif user.is_authenticated and not user|user_does_not_have_player_attributes %}
        <a href="{% url 'player_attributes_edit' user.player_attributes.pk %}"><button type="submit" class="btn btn-primary">Edit Profile</button></a>
      {% else %}
        <p>log in to create a profile</p>
      {% endif %}
    </div>
    <br>


  <div class="text-center">
    <a href="{% url 'player_map' %}"><button class="btn btn-primary">Available Players</button></a>
  </div>
  {% endblock %}

</body>
</html>
