<!DOCTYPE html>
{% extends 'player/base.html' %}

<html>
{% block content %}
<head>
<style>
#map {
  height: 590px;
  width: 100%;
}
</style>
</head>
<body>
  <div>


  <h3> something else after the for loop</h3>
</div>
<!-- loop through and convert to latitutde and longitude for all addresses. then when the list is made, loop through it   -->
  <div id="map"></div>

  <script>
    var map_players = []

    "{% for player in players %}"
      map_players.push( { username: "{{player.username}}", skill_level: "{{player.skill_level}}", address: "{{player.address}}", availability_days: "{{player.availability_days}}", availability_times: "{{player.availability_times}}", looking_for: "{{player.availability_days}}", phone_number: "{{player.phone_number}}", email: "{{player.email}}", additional_info: "{{player.additional_info}}" })
    "{% endfor %}"
    console.log(map_players[8]["address"])

    // console.log(map_players)
    // var coordinates = {}
    // for (i = 0; i < map_players.length; i++) {
    //     for (i = 0; i < map_players.[i]["address"]; i ++) {
    // }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {lat: 47.608013, lng: -122.335167}
    });
  //
  //   var geocoder = new google.maps.Geocoder();
  //   var marker = new google.maps.Marker({
  //     // position: uluru,
  //     position: {lat: 47.608013, lng: -122.335167},
  //     map: map
  //   });
  //
  //   var new_marker = new google.maps.Marker({
  //     position: {lat: -30.363, lng: 140.044},
  //     map: map
  //   });
  }

  function codeAddress() {
  var address = map_players[8]["address"];
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location

      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&callback=initMap">
  </script>
</body>
{% endblock %}
</html>
