h1 {
  color: green;


  /*font-family: 'Plaster', cursive;*/
  font-family: 'Shrikhand', cursive;

  /*font-family: 'Ultra', serif;*/
  /*font-family: 'Monofett', cursive;*/
}

body {
  color: green;
}
